@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo da Página */
  body {
    background-image: url("./img/background.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    color: #454041;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  /* Estilo do Main */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .texto-imagem {
    width: 600px;
    margin-right: 50px;
  }
  
  h1 {
    font-family:  'Signika Negative', sans-serif;;
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
  }
  
  .botao {
    margin-bottom: 15px;
    padding: 16px 32px;
    background-color: #454041;
    color: #D5CCC7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .botao:hover {
    background-color: #ADA0A2;
    color: #454041;
  }
  
  .imagem img {
    width: 500px;
  }