@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./img/backgroundLista.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  h1 {
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
  }

  table {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #261C1A;
    font-family: 'Ubuntu', sans-serif;
    color: #D5CCC7;
  }
  
  tbody tr:nth-child(even) {
    background-color: #96908d;
  }

  .imagem {
    float: center;
    width: 500px; /* ajuste a largura conforme necessário */
    margin-left: 450px; /* ajuste a margem conforme necessário */
  }